PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-02-16 12:02:56.862138');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-02-16 12:02:56.886681');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-02-16 12:02:56.902512');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Profile object (1)',1,'[{"added": {}}]',8,2,'2025-02-16 13:48:23.964155');
INSERT INTO django_admin_log VALUES(2,'1','pankaj',3,'',4,2,'2025-02-16 13:49:29.795316');
INSERT INTO django_admin_log VALUES(3,'3','pankaj',3,'',4,2,'2025-02-16 13:50:57.253287');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$870000$Us8sfxMR0pu7geBgEVj8YN$7RRHVypiNei7tWLOcfdu83MkRijKga1ONh6SQ4Bw6iU=','2025-02-16 13:47:33.691551',1,'pankajadmin','','pankaj270791@gmail.com',1,1,'2025-02-16 13:43:44.900414','');
INSERT INTO auth_user VALUES(6,'pbkdf2_sha256$870000$YSWyKmpCeRoGaP44T7T1oh$r9dPS2QfJcoJUxEmyIpI1RAGCL+WnvmC5nYCUtXh8LA=','2025-05-23 06:41:41.183044',0,'pankaj','','',0,1,'2025-02-16 13:59:30.998439','');
INSERT INTO auth_user VALUES(7,'pbkdf2_sha256$870000$SwUkzEvTYgNvs9Qn9lASnl$y892LKPhA45lv4pfqmnkRW/rM4zARejLGV+I1ctA8D0=','2025-03-23 17:50:07.987624',0,'ishika','','',0,1,'2025-02-16 18:58:04.111107','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('uos0rgnmqo6vyqagrw8mnym32eafkf9e','e30:1tjewa:mPithReb9ff3QFsulNZHnu_fGSV1I1n1HahtzNotn6Q','2025-03-02 13:44:24.987756');
INSERT INTO django_session VALUES('5haaejou29v2p97riig57yu75v2wn0rj','e30:1tjexJ:edGVqtaVDUTpBqa863Xf-AWNSH4tzNsL3-zvbrYTJXs','2025-03-02 13:45:09.956813');
INSERT INTO django_session VALUES('eyh04d749i878csezp9iu516xh7els40','e30:1tjexj:OLt4x75ttYkpyaAaH2lmxnAS4EF-gyuBSuh8u1jJWEw','2025-03-02 13:45:35.261462');
CREATE TABLE IF NOT EXISTS "myapp_profile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "fname" varchar(100) NOT NULL, "email" varchar(254) NOT NULL UNIQUE, "profile_pic" varchar(100) NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO myapp_profile VALUES(4,'pankaj','jasp.pankaj@gmail.com','profile/2.png',6);
INSERT INTO myapp_profile VALUES(5,'Isssshhh','ishika@gmail.com','profile/IMG_20250130_155814_517.jpg',7);
INSERT INTO myapp_profile VALUES(6,'babu ki Profile','babu_ka@email.com','profile/IMG_20250130_155801_630.jpg',8);
CREATE TABLE IF NOT EXISTS "myapp_task" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL, "description" text NOT NULL, "status" varchar(25) NOT NULL, "date" date NOT NULL, "start_time" time NOT NULL, "end_time" time NOT NULL, "priority" varchar(25) NOT NULL, "username_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "finishDate" date NULL);
INSERT INTO myapp_task VALUES(7,'Show Email Under Name ','Show Email If User Have Any Email','Complete','2025-02-16','09:00:00','12:00:00','Flagged',6,'2025-02-16');
INSERT INTO myapp_task VALUES(8,'on click on image ','when user click on image it shows a big picture in center ','Complete','2025-02-16','09:00:00','12:00:00','Star',6,'2025-02-16');
INSERT INTO myapp_task VALUES(11,'image Gallery','create a image gallery ','Incomplete','2025-02-19','09:00:00','12:00:00','Unmark',6,'2025-02-19');
INSERT INTO sqlite_sequence VALUES('django_migrations',25);
INSERT INTO sqlite_sequence VALUES('django_admin_log',5);
INSERT INTO sqlite_sequence VALUES('django_content_type',8);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "myapp_task_username_id_e4d2aa27" ON "myapp_task" ("username_id");
COMMIT;
