<!-- Alert Message Codes -->

<!-- Create Task -->
<div id="taskAlertAdd" class="alert alert-success alert-dismissible fade show popdiv" role="alert" style="display: none;">
    Task created Successfully!
</div>

<!-- Update Task  -->
<div id="taskAlertEdit" class="alert alert-success alert-dismissible fade show popdiv" role="alert" style="display: none;">
    Task Updated Successfully!
</div>

<!-- Delete Task -->
<div id="taskAlertDelete" class="alert alert-success alert-dismissible popdiv" role="alert" style="display: none;">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Task Deleted Successfully!</strong> 
</div>

<!-- Profile Update -->
<div id="profileAlertEdit" class="alert alert-success alert-dismissible fade show popdiv" role="alert" style="display: none;">
    Profile Updated Successfully!
</div>

<!-- Update Password -->
<div id="updatePasswordAlert" class="alert alert-success alert-dismissible fade show popdivlogout" role="alert" style="display: none;">
    Password Updated Successfully. Please Login Again With New Password.
    <strong>Redirecting You To Login Page.</strong>
</div>

<!-- Old Password Error-->
<div id="oldPasswordAlert" class="alert alert-success alert-dismissible fade show popdiv" role="alert" style="display: none;">
    Old Password Is Incorrect.
</div>

<!-- New Password Error-->
<div id="newPasswordAlert" class="alert alert-success alert-dismissible fade show popdiv" role="alert" style="display: none;">
    New  Password Is Not Matched.
</div>

<!-- Password Validation  Error-->
<div id="passwordValidationAlert" class="alert alert-success alert-dismissible fade show popdiv" role="alert" style="display: none;">
    Password Must Be 8 character long. Choose a Strong Password.
    
</div>
