<!-- EDIT PROFILE POPUP MODEL -->
<div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePasswordLabel">Update Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               
               <form id="updatePasswordForm">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="old_password">Old Password</label>
                    <input type="password" id="old_password" name="old_password" class="form-control">
                </div>
            
                <div class="mb-3">
                    <label for="new_password1">New Password</label>
                    <input type="password" id="new_password1" name="new_password1" class="form-control">
                </div>
            
                <div class="mb-3">
                    <label for="new_password2">Confirm New Password</label>
                    <input type="password" id="new_password2" name="new_password2" class="form-control">
                </div>
            
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
            </div>
        </div>
    </div>
</div>
